* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

header {
    background-color: #a7a8a8;
    height: 10%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20;
    margin: 0;
}

.titulo {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 50%;
    padding: 20px 20px 20px 20px;
}

.menu {
    display: flex;
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburguer-line {
        width: 30px;
        height: 3px;
        background-color: black;
        margin: 2px;
    }

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
}

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.subtitulo {
    font-size: 1.2em;
    margin-left: 10px;
}

.content {
    font-size: 1em;  
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-left {
    margin: 60px;
    margin-right: 40px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .profile-container{
        flex-direction: column;
    }
    
    .main-left {
        order: 1;
        margin-bottom: 20px;
    }

    .main-right {
        order: 2;
    }
}

.article-right {
    flex-basis: 48%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.article-left {
    flex-basis: 48%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subtitulo-right {
    font-size: 1.2em;
    margin-bottom: 5px;
    align-self: flex-end;
}

.subtitulo-left {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.cards-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.cards-left ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: 18%;
    height: 100px;
    padding: 20px;
    margin-bottom: 5px;
    background-color: #a7a8a8;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0 ,0.3);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .article{
        flex-direction: column;
    }
    
    .subtitulo-right {
        align-self: flex-start;
    }

    .article-left {
        order: 2;
        margin-bottom: 20px;
    }

    .article-right {
        order: 1;
    }

    .card-item {
        flex-basis: 28%;
        margin: 2%;
    }

    .cards-right {
        display: flex;
        justify-content: space-around;
    }
}

.footer img {
    width: 50px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a7a8a8;
}

.links {
    display: flex;
    margin-right: 20px;
}

.links a {
    margin-right: 10px;
}

.contato {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
    
    .links {
        order: 2;
        padding: 10px;
    }

    .contato {
        order: 1;
    }
}